
.out-standing-doctor__link{
    border: 1px solid #ad9999;
   height: 245px !important;

    .out-standing-doctor__img{
        border-radius: 50%;
        width: 120px!important;
        height: 120px!important;
        padding: 0!important;
        margin: 15px auto 10px;
        
    }
    .out-standing-doctor__text{
        text-align: center!important;
    
    }
    .out-standing-doctor__branch{
        color: #555;
        font-size: 12px;
        
    }
}
