/*
 * General styles
 */
body,
html {
  background-image : "#fff";
  background-repeat: no-repeat;
  background-size  : cover;
  font-family      : $fontmain;
  font-size        : 62.6%;
  height           : 100vh;
  overflow         : hidden;
}





.content-container {
  .title {
    text-align    : center;
    text-transform: uppercase;
    font-weight   : bold;
    font-size     : $base-size + 0.4rem;
    margin-top    : 15px;
    color         : $colormain;
  }

  .content {
    margin            : 15px 30px;
    box-shadow        : 2px 2px 4px 0 $box-shadow-color;
    -webkit-box-shadow: 2px 2px 4px 0 $box-shadow-color;
  }
}


// table
#customers {
  font-family    : Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width          : 100%;
  font-size      : 1.4rem;
}

.user-container {
  .add-new-btn {
    font-size: 1.4rem;
  }
}

#customers td,
#customers th {
  border : 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top     : 12px;
  padding-bottom  : 12px;
  text-align      : left;
  background-color: #04AA6D;
  color           : white;
}

.btn-edit {
  width     : 50px;
  border    : none;
  outline   : none;
  background: transparent;
  color     : orange;

  &:hover {
    background: transparent;
    color     : rgb(85, 76, 57);
  }
}

.btn-delete {
  width     : 50px;
  border    : none;
  outline   : none;
  background: transparent;
  color     : rgb(247, 47, 47);

  &:hover {
    background: transparent;
    color     : rgb(223, 140, 140);
  }
}