.manage-specialty {

    .form-specialty {
        margin-bottom: 10px;
    }

    .specialty-btn {
        color           : #fff;
        background-color: #0071ba;
        font-size       : 1.4rem;
        margin-top      : 10px;
        min-width       : 80px;

        &:hover {
            opacity   : 0.9;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
        }

        &.edit-btn{
            background-color: green;
        }
    }
    .th-decription{
        width: 60%
    }
    

    .td-decription {
        line-height       : 2rem;
        max-height        : 4rem;
        display           : -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow          : hidden;
        box-sizing : border-box;
    }
}