.veryfy-email{

    .info-booking{
        font-size:1.8rem;
        font-weight:bold;
        margin-top: 30px;
        text-align: center;
        text-transform:uppercase;
        color: red;
    }
}