@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    align-items: center;
    position: relative;

    .header-manager-language{
        font-size: 14px;
        margin-left: auto;
        margin-right: 20px;
        cursor: pointer;

        & span:hover{
            color: #45c3d2;
        }
        & span{
            margin-right:5px;
        }
        & span:nth-last-child(){
            margin-right: 0px;
        }
        & .action{
            color: #45c3d2;
        }

        .welcome-user{
            margin-right: 20px;
        }
    }

    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 0.1rem;
        }
    }
}